<h3>
    Naciśnij na film by wyświetlić detale
</h3>
<div class="film"
*ngFor="let film of filmy;" routerLink="film/{{film.id}}">
    <img src="assets/{{film.tytul | lowercase}}.jpg" width="100"/>
</div>


